@import "tailwindcss";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.framed {
  border: 1vh solid transparent; 
  border-image: url('/src/img/frame.png') 100 repeat; 
}

.gallery {
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   margin-right: 1vh;
   width: 101%;
}